table {
	width: 100%;
	border-collapse: collapse;
}

td {
	border: 1px black solid;
}

td:empty {
	border: 0;
	background-color: transparent !important;
}

th {
	background-color: lightgray;
	border: 1px solid black;
}

table:first-of-type tr > td:first-child {
	background-color: lightblue;
}

label {
	user-select: none;
	font-size: 2em;
}

input[type="checkbox"] {
	width: 2em;
	height: 2em;
}

#individual-tables {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
